<div class="grid-container-listaPianiStudio" style="background-color: aliceblue;">
    <div class="listaPianiStudioMenu">
        <div style="height: 50%; width: 100%; overflow: scroll;">
            <div *ngIf='listaPianiStudio != undefined'>
                <app-lista-piani-di-studio (onSelezionaPianoStudio)='SelezionaPianoStudio($event)'
                    [SettaComponente]='listaPianiStudio' [ModificaElementoSpecifico]='elementoModificato'></app-lista-piani-di-studio>
            </div>
            <div *ngIf='listaPianiStudio == undefined'>
                <label for="">listaPianiStudio indefinita</label>
            </div>
        </div>
        <div style="height: 50%; width: 100%; overflow: scroll;">
            <div *ngIf='listaRipetizioni != undefined'>
                <app-lista-ripetizioni (onSelezionaRipetizioneStudio)='SelezionaRipetizioneStudio($event)'
                    [SettaComponente]='listaRipetizioni'>
                </app-lista-ripetizioni>
            </div>
            <div *ngIf='listaRipetizioni == undefined'>
                <label for="">listaRipetizioniStudio indefinita</label>
            </div>
            <!-- <label for="">Lista ripetizioni</label>
            <div>
                <ul style="padding: 11px;">
                    <li>ddddd</li>
                    <li>dddasdsff</li>
                    <li>ddddd</li>
                    <li>dddasdsff</li>
                    <li>ddddd</li>
                    <li>dddasdsff</li>
                    <li>ddddd</li>
                    <li>dddasdsff</li>
                </ul>
            </div> -->
        </div>
    </div>
    <div class="listaPianiStudioMain">
        <label for="" style="position: absolute;">
            Piano selezionato:
            {{indice}}
        </label>
        <div *ngIf='elementoSelezionato != undefined' style="height: 100%;width: 100%;">
            <app-piano-studio [SettaComponente]='elementoSelezionato' (onFinePiano)='FinePiano($event)'
                (onModificaPianoStudio)='ModificaSessione($event)'>
            </app-piano-studio>
        </div>
        <div *ngIf='elementoSelezionato == undefined'>
            <br>
            piano studio indefinito
        </div>
    </div>
</div>

<!-- <div class="grid-container-listaPianiStudio">
    <div class="listaPianiStudioMenu">
        <label for="">Lista piani studio</label>
    </div>
    <div class="listaPianiStudioMain">
        <div class="gridContainePianiStudio">
            <div class="pianiStudioHeader">
                header
            </div>
            <div class="pianiStudioMenu">
                manu
            </div>
            <div class="pianiStudioMain">
                main
            </div>
        </div>
    </div>
</div> -->