<label for="">Timer</label>
<input type="time" [value]="timer" [disabled]='terminato == true'>
<span *ngIf='terminato == false'>
    <button (click)='StartTimer()' [disabled]='determinaDisabilita == true'>start</button>
    <!-- [disabled]='GetIsDisability(true)' -->
    <button (click)='StopTimer()' [disabled]='determinaDisabilita == false'>stop</button>
</span>
<span *ngIf='terminato == true'>
    Timer disattivato
</span>
<span *ngIf='terminato == false'>
    {{count}} : {{numeroCicli}}
</span>