<label for="">Lista piani studio</label>
<div>
    <ul id="myUL" style="font-size: small;">
        <li *ngFor="let piano of ListaPianiStudio; let i=index;" (click)="onClickMenu($event)">
            <button title="clicca per selezionare il piano" (click)="SelezionaPianoStudio(piano, i);"
                [ngbPopover]="popVistaTemporaneaPianoStudioContent" [popoverTitle]="popVistaTemporaneaPianoStudioTitle"
                triggers="mouseenter:mouseleave" placement="right-top" (mouseenter)="elementoTmp= piano"
                container="body">
                {{piano.titoloOpera}} : {{piano.dataInizio | date:'dd/MM/yyyy'}}
            </button>
            <ng-template #popVistaTemporaneaPianoStudioContent>
                <p>titolo : {{elementoTmp.titoloOpera}}</p>
                <p>data inizio : {{elementoTmp.dataInizio | date:'dd/MM/yyyy'}}</p>
                <p>data fine : {{elementoTmp.dataFine | date:'dd/MM/yyyy'}}</p>
            </ng-template>
            <ng-template #popVistaTemporaneaPianoStudioTitle>Piano studio</ng-template>
        </li>
        <li>
            <button [ngbPopover]="popAggiungiPianoContent" [popoverTitle]="popAggiungiPianoTitle" placement="right"
                [autoClose]="false" triggers="manual" #aggiungiPiano="ngbPopover"
                (click)="switch == false ? aggiungiPiano.open() : aggiungiPiano.close(); switch=!switch;">
                Aggiungi nuovo piano
                <ng-template #popAggiungiPianoContent>
                    <div>
                        <label for="inizioPianoStudio">Data inizio paino studio </label>
                        <input type="date" name="" [value]="GetDataInizio()"
                            (change)='SetDataInizio($event.srcElement.value)'>
                    </div>
                    <div>
                        <label for="titoloOpera">Titolo opera </label>
                        <input type="text" name="" [value]="nuovoElemento.titoloOpera"
                            (change)='nuovoElemento.titoloOpera = $event.srcElement.value'>
                    </div>
                    <button (click)="AggiungiPianoStudio()">Aggiungi</button>
                </ng-template>
                <ng-template #popAggiungiPianoTitle>Aggiungi nuovo piano Studio</ng-template>
            </button>
        </li>
    </ul>
</div>
