<p>Lista piani studio</p>

<div style="height: 150px; width: 400px; overflow: scroll; 
background-color: aqua; display: inline-block;
;">
    <div>
        <ul id="myUL" style="font-size: small;">
            <li *ngFor="let piano of ListaPianiStudio; let i=index;" (click)="onClickMenu($event)">
                <!-- <samp>{{piano.titolo}} : {{piano.dataInizio}}</samp> -->
                <button title="clicca per selezionare il piano" (click)="SelezionaPianoStudio(piano); Indice=i;"
                    [ngbPopover]="popVistaTemporaneaPianoStudioContent" [popoverTitle]="popVistaTemporaneaPianoStudioTitle" triggers="mouseenter:mouseleave"
                    placement="right" (mouseenter)="elementoTmp= piano">
                    {{piano.titoloOpera}} : {{piano.dataInizio | date:'M/d/yy, h:mm a z'}}
                </button>
                <ng-template #popVistaTemporaneaPianoStudioContent>
                    <p>titolo : {{elementoTmp.titoloOpera}}</p>
                    <p>data inizio : {{elementoTmp.dataInizio | date:'M/d/yy, h:mm a z'}}</p>
                    <p>data fine : {{elementoTmp.dataFine | date:'M/d/yy, h:mm a z'}}</p>
                </ng-template>
                <ng-template #popVistaTemporaneaPianoStudioTitle>Piano studio</ng-template>
            </li>
            <li>
                <button [ngbPopover]="popAggiungiPianoContent" [popoverTitle]="popAggiungiPianoTitle" placement="right"
                    [autoClose]="false" triggers="manual" #aggiungiPiano="ngbPopover"
                    (click)="switch == false ? aggiungiPiano.open() : aggiungiPiano.close(); switch=!switch;">
                    Aggiungi nuovo piano
                    <ng-template #popAggiungiPianoContent>
                        <div>
                            <label for="inizioPianoStudio">Data inizio paino studio </label>
                            <input type="date" name="" [value]="GetDataInizio()" (change)='SetDataInizio($event.srcElement.value)'>
                        </div>
                        <div>
                            <label for="titoloOpera">Titolo opera </label>
                            <input type="text" name="" [value]="nuovoElemento.titoloOpera" (change)='nuovoElemento.titoloOpera = $event.srcElement.value'>
                        </div>
                        <button (click)="AggiungiPianoStudio()">Aggiungi</button>
                    </ng-template>
                    <ng-template #popAggiungiPianoTitle>Aggiungi nuovo piano Studio</ng-template>
                </button>
            </li>
        </ul>
    </div>
</div>
<div style=" display: inline-block">
</div>
<!-- </mat-grid-tile>
    <mat-grid-tile [colspan]="3"> -->
<div style=" display: inline-block">
    <label for="">
        Piano selezionato:
    </label>
    <app-piano-studio [Setta]='elementoSelezionato' (onFineSessione)='FineSessione($event)'
    (onModificaPianoStudio)='ModificaSessione($event)'>
    </app-piano-studio>
</div>


<!-- 
<div class="tab">
    <button class="tablistapiani" (click)="SchegliNuovoSelezionata($event, 'PianoSelezionato')">
        Piano selezionato
    </button>
    <button class="tablistapiani" (click)="SchegliNuovoSelezionata($event, 'NuovoPiano')">
        Nuovo piano
    </button>
</div>

<div id="PianoSelezionato" class="tabcontentlistapiani">
    <div>
        <label for="">
            Nuovo piano:
        </label>
        <app-piano-studio [Setta]='elementoSelezionato' (onFineSessione)='FineSessione($event)'>
        </app-piano-studio>
    </div>
</div>

<div id="NuovoPiano" class="tabcontentlistapiani">
    <button (click)="AggiungiPianoStudio()">Aggiungi nuovo piano</button>
</div>
 -->

<!--</mat-grid-tile>
     <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->