
<p>{{dataInizio}}</p>
<div>
    <label for="">Tipo pomodoro selezionato</label>
    <input type="text" [value]='StrutturaPomodotoToString(strutturaPomodoro)' disabled>

    <label for="">struttura pomodoro</label>
    <input type="text" name="" id="" [value]="GetStrutturaPomodoroString()" disabled>
</div>
<div>
    <app-timer-start-stop (onFineTimer)="IntercettaFineTimer($event)" [Setta]='timerInterno'></app-timer-start-stop>
    <button (click)='Salva()'>Salva</button>
</div>

<div>
    <label for="">Titolo </label>
    <input type="text" name="" id="" [value]='titolo'
        (keypress)="SetTitolo($event)" (change)="SetTitolo($event)">
</div>

<div>
    <label for="">Commento conciso</label>
    <br>
    <textarea name="" id="" cols="30" rows="10" [value]='commentoConciso'
        (keypress)="SetCommentoConciso($event)"></textarea>
</div>