<p>sessione-studio works!</p>

<p>{{dataInizio}}</p>

<label for="">Tipo pomodoro selezionato</label>
<input type="text" [value]='strutturaPomodoro' >
<!-- un riquadro con la visualizzazione dei pomodori del piano selezionato -->
<p>visualizzazione dei pomodori previsti</p>
<!-- due pulsanti uno start uno stop -->
<label for="">Timer</label>
<input type="date">
<button>start</button>
<button>stop</button>
<!-- il cronometro che scandisce il tempo -->
<!-- a lui è legato una ripetizione la prima -->
<!-- infine abbiamo il tempo totale per un pomodoro -->
<!-- e qui il tempo stimato -->
<!-- qui le due componenti tempo pomodoro, tempo ripetizione-->