<router-outlet></router-outlet>

<app-lista-piani-di-studio></app-lista-piani-di-studio>




<!-- <div style="height: 100%;width: 100%; background-color: blueviolet;">

    <div style="height: 100%; width: 15%; display: inline-block; background-color: brown;">

    </div>

    <div style="height: 100%; width: 85%; display: inline-block; background-color: darkblue;">

        <div style="height: 100%;width: 100%; background-color: rgb(192, 226, 43);">

            <div style="height: 10%;width: 100%; background-color: rgb(42, 165, 83);">

            </div>
            <div style="height: 90%;width: 100%; background-color: rgb(165, 42, 93);">
                <div style="height: 100%;width: 100%; background-color: rgb(192, 226, 43);">

                     <div style="height: 100%;width: 30%; display: inline-block; 
            background-color: rgb(106, 42, 165);">

                    </div>

                    <div style="height: 100%;width: 70%; display: inline-block; 
            background-color: rgb(0, 139, 139);">

                    </div>

                </div>
            </div>

        </div>

    </div>

</div> -->